<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- source : web dev simplied on youtube via github -->

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="#" />
  <title>Therapy Directory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS links -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/meanmenu.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="blogPostBody">

  <!-- HEADER BEGINS-->
    <header>
      <div class="top-bar d-none d-md-block">
          <div class="container">
              <div class="row d-flex align-items-center">
                  <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-0 col-md-7 offset-md-1">
                      <div class="header-info">
                          <span><i class="fas fa-phone"></i> +1 800 555 5555</span>
                          <span><i class="fas fa-envelope"></i> ayawellness@gmail.com</span>
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-6 col-md-4">
                      <div class="header-top-right-btn f-right">
                          <a href="/profile" class="btn">Home</a>
                      </div>
                  </div>
              </div>
         </div>
      </div>
      <!-- menu-area -->
      <div class="header-menu-area">
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                      <!-- <div class="logo logo-circle pos-rel">
                          <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                      </div> -->
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9">
                      <!-- <div class="header-right f-right">
                          <div class="header-lang f-right pos-rel d-none d-lg-block">
                              <div class="lang-icon">
                                  <img src="img/icon/lang.png" alt="">
                                  <span>EN<i class="fas fa-angle-down"></i></span>
                              </div>
                              <ul class="header-lang-list">
                                  <li><a href="#">USA</a></li>
                                  <li><a href="#">UK</a></li>
                                  <li><a href="#">CA</a></li>
                                  <li><a href="#">AU</a></li>
                              </ul>
                          </div>
                          <div class="header-social-icons f-right d-none d-xl-block">
                              <ul>
                                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                              </ul>
                          </div>
                      </div> -->
                      <!-- <div class="header__menu f-right">
                          <nav id="mobile-menu">
                              <ul>
                                  <li><a href="index.html">Home +</a>
                                      <ul class="submenu">
                                          <li><a href="index.html">Home style 1</a></li>
                                          <li><a href="index-2.html">Home style 2</a></li>
                                          <li><a href="index-3.html">Home style 3</a></li>
                                          <li><a href="index-4.html">Home style 4</a></li>
                                          <li><a href="index-5.html">Home style 5</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="services.html">Department +</a>
                                      <ul class="submenu">
                                          <li><a href="services.html">Services 01</a></li>
                                          <li><a href="services-2.html">Services 02</a></li>
                                          <li><a href="services-details.html">Services Details</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="doctor.html">Doctors +</a>
                                      <ul class="submenu">
                                          <li><a href="doctor.html">Doctors 01</a></li>
                                          <li><a href="doctor-2.html">Doctors 02</a></li>
                                          <li><a href="doctor-details.html">Doctors Details</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="shop.html">Shop</a>
                                      <ul class="submenu">
                                          <li><a href="shop.html">Shop Page</a></li>
                                          <li><a href="product-details.html">Shop Details</a></li>
                                          <li><a href="cart.html">Shopping Cart</a></li>
                                          <li><a href="checkout.html">Checkout</a></li>
                                          <li><a href="wishlist.html">Wishlist</a></li>
                                          <li><a href="login.html">Login</a></li>
                                          <li><a href="register.html">Register</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="blog.html">News +</a>
                                      <ul class="submenu">
                                          <li><a href="blog.html">Blog Right Sidebar</a></li>
                                          <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                          <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                          <li><a href="blog-2-col.html">Blog 2 Column</a></li>
                                          <li><a href="blog-2-col-mas.html">Blog 2 Col Masonry</a></li>
                                          <li><a href="blog-3-col.html">Blog 3 Column</a></li>
                                          <li><a href="blog-3-col-mas.html">Blog 3 Col Masonry</a></li>
                                          <li><a href="blog-details.html">Blog Details</a></li>
                                          <li><a href="blog-details-left-sidebar.html">Details Left Sidebar</a></li>
                                          <li><a href="blog-details-audio.html">Details Audio</a></li>
                                          <li><a href="blog-details-video.html">Details Video</a></li>
                                          <li><a href="blog-details-gallery.html">Details Gallery</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Pages +</a>
                                      <ul class="submenu">
                                          <li><a href="about.html">About</a></li>
                                          <li><a href="appoinment.html">Appoinment</a></li>
                                          <li><a href="portfolio-2-col.html">Portfolio 2 column</a></li>
                                          <li><a href="portfolio.html">Portfolio 3 column</a></li>
                                          <li><a href="portfolio-slider.html">Portfolio Slider</a></li>
                                          <li><a href="contact.html">Contact</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </nav>
                      </div> -->
                  </div>
                  <div class="col-12">
                      <div class="mobile-menu"></div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- HEAD END -->

   <!-- HERO AREA START-->
   <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="page-title">
                    <p class="small-text pb-15"></p>
                    <h1>Therapist Directory</h1>
                    <h2>"When we speak, we are afraid our words will not be heard nor welcomed. But when we are silent, we are still afraid, so it is better to speak."  - Audre Lorde</h2>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="team-area pt-115 pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section-title pos-rel mb-75">
            <div class="section-icon">
              <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
            </div>
            <div class="section-text pos-rel">
              <h5>directory</h5>
              <h1>LICESNED & PRE-PROFESIONALS</h1>
            </div>
            <div class="section-line pos-rel">
              <img src="img/shape/section-title-line.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="section-button text-right d-none d-lg-block pt-80">
            <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
              class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member1.png" alt="">
              <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/mahmood-mohammad-lancaster-pa/987285">Mahmood Mohammad, Pre-Licensed Professional, MS</a></h3>
              <h6>(223) 400-7850
                Free 15 minute consultation
                </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member2.png" alt=""> -->
              <!-- <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/bourne-anew-llc-philadelphia-pa/875483">Kenn Bourne, BA, MSW, LSW</a></h3>
              <h6>(267) 356-4920
                Free 15 minute consultations 
                </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member3.png" alt=""> -->
              <!-- <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/daniel-mack-philadelphia-pa/1007038">Daniel Mack,  Pre-Licensed Professional</a></h3>
              <h6>(215) 717-8908
                Free 15 minute consultations
                </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member4.png" alt=""> -->
              <!-- <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/daniel-mack-philadelphia-pa/1007038">Dothan C Landon-Freeman</a></h3>
              <h6>(215) 883-9048</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member5.png" alt=""> -->
              <!-- <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/davier-daniels-upper-darby-pa/1015001">Davier Daniels, Pre-Licensed Professional</a></h3>
              <h6>(610) 890-7373
                Free 15 minutes consultations
                </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="team-box text-center mb-60">
            <div class="team-thumb mb-45 pos-rel">
              <!-- <img src="img/team/member6.png" alt="">
              <a class="team-link" href="doctor-details.html">+</a> -->
            </div>
            <div class="team-content">
              <h3><a href="https://www.psychologytoday.com/us/therapists/jack-cottom-willow-grove-pa/187889">Jack Cottom, MA, LPC</a></h3>
              <h6>(215) 709-9843</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- HERO AREA END -->

  <!-- MAIN BLOG POST -->
  

  
  

  <!-- FOOT BEGINS -->
  <footer>
    <div class="footer-top primary-bg footer-map pos-rel pt-120 pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-contact-info footer-contact-info-3 mb-40">
                        <div class="footer-logo mb-35">
                            <a href="#"><img src="img/logo/footer-logo-3.png" alt=""></a>
                        </div>
                        <div class="footer-contact-content mb-25">
                            <p>Aya Wellness Connection was created in 2022 to bridge the gap between Black men seeking mental health professionals and Black male mental health professionals in the greater Philadelphia area..</p>
                        </div>
                        <div class="footer-emailing">
                            <ul>
                                <li><i class="far fa-envelope"></i>Emergency Number (215) 686-4420</li>
                                <li><i class="far fa-clone"></i>namiphilly.org</li>
                                <li><i class="far fa-flag"></i>4641 Roosevelt Blvd Philadelphia, PA 19124</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-widget mb-40">
                        
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title">
                            <h3>News Feeds</h3>
                        </div>
                        <div class="blog-feeds pr-15">
                            <div class="signle-blog-feeds mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-1.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://augustafreepress.com/news/black-and-male-why-chris-jones-may-not-have-sought-help-for-an-undiagnosed-mental-health-condition/">Black and male: Why Chris Jones may not have sought help for mental-health condition</a></h5>
                                    <span class="feeds-date">16 November 2022</span>
                                </div>
                            </div>
                            <div class="signle-blog-feeds mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-2.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://www.ebony.com/black-men-weigh-in-on-their-favorite-forms-of-self-care/">BLACK MEN WEIGH IN ON THEIR FAVORITE FORMS OF SELF-CARE</a></h5>
                                    <span class="feeds-date">11 November 2022</span>
                                </div>
                            </div>
                            <div class="signle-blog-feeds  mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-3.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://www.tmj4.com/news/local-news/its-okay-to-be-hurt-milwaukee-barbers-learn-how-to-become-mental-health-advocates-for-black-men">'It's okay to be hurt': Milwaukee barbers learn how to become mental health advocates for Black men</a></h5>
                                    <span class="feeds-date">7 November 2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-25 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-copyright footer-copyright-3 text-center">
                        <p>Copyright by@ Get Wright Development - 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOT ENDS -->
  

</body>

</html>
